[2014-10-19 14:52] giusepperizzo opened #2 "mvn compile fails"
Hi, starting from a clean copy (git clone) the mvn compile fails, it seems that external projects/libraries are not linked in the main pom.xml.

[2015-02-12 12:02] piskvorky opened #3 "Unclear dependency on Wikipedia"
The documentation mentions Dexter works on "a given knowledge base, e.g., Wikipedia.".

How hardwired is Wikipedia as the KB, how would using a different KB work?

What KB format does Dexter expect, what tooling support is there for building its internal structures from different sources?

Thanks!

[2015-02-13 19:07] diegoceccarelli commented on #3
Dear @piskvorky, thanks for the question.
I've never had the need to plug a different KB into dexter,
but the model that dexter uses to perform the linking is generated
from a json version of Wikipedia [1]. More in detail the file contains
for each line a structured version of the entity, where the useful fields are
1) a numeric id 2) a pref. name 3) a text 4) a list of links to other entities.
If

[2015-02-18 18:29] piskvorky commented on #3
Great, that helps. Thanks @diegoceccarelli !

I'll leave this "issue" open as a reminder to self (we'll test it out), but feel free to close if that bothers you.

[2015-02-19 14:46] diegoceccarelli commented on #3
It doesn't bother at all, and I would be curious to know the outcomes and to help if you'll test it out.
Cheers,
Diego

[2015-04-29 21:15] tgalery commented on #2
Hi @giusepperizzo I had the same problem. In my case, it turned out that to be an error with the maven version that comes with ubuntu and how it reads the apache.commons.lang specification in the pom. I updated mvn to the newest verstion from apache and it compiled. @diegoceccarelli it might be worth updating the readme with this ? If you think so, I'm happy to send a PR.

[2015-04-30 07:58] diegoceccarelli commented on #2
Please @tgalery  do that! Thanks!

[2015-05-07 15:17] piskvorky opened #6 "Meaning of i/o parameters"
The input/output parameters seem to be undocumented (or I couldn't find the documentation).

Could you please clarify the meaning of `wn`, `n`, `format` and `debug` in `annotate`?

And similarly, the meaning of `score`, `commonness` and `linkProbability` in the results? (I assume the `spots` dictionary contains only the final entities, and not all spotted candidates, right?)

Thanks!

[2015-05-07 22:27] vmanisha commented on #6
wn : wikiname, n = number of terms in window for term spotting . debug : will output several values of the spotter (probability numbers etc) ..
commonness : this is how frequently it occurs in corpus
linkProb : probability of text being hyperlinked on wikipedia.

[2015-05-08 07:35] piskvorky commented on #6
Thanks!

Do you know why `wn` is an extra parameter? Does `wn=true` have some bad performance implications? Why isn't it always on?

[2015-05-08 15:02] vmanisha commented on #6
wn needs another lookup but no it does not affect accuracy alot. I have tested it on few thousand queries. It does them under 20 mins. But on longer text it may be an issue. One note though, if you do not use wikinames, you may have no way of comparing different spots mapping to same article : for example 'new york' and 'ny' are valid spots but wikiname of 'New york' makes it consistent to compare

[2015-05-08 15:17] giacbrd commented on #6
Hi,
you probably already know, but it is possible to retrieve a Wikipedia page
by entity ID, setting the curid parameter in the url.
e.g. http://en.wikipedia.org/?curid=8485 =>
http://en.wikipedia.org/wiki/Diego_Maradona

2015-05-08 17:02 GMT+02:00 vmanisha <notifications@github.com>:

[2015-05-15 23:09] strani commented on #2
I think this issue can be closed since the additional details provided in the README.

[2015-05-15 23:09] #2 closed

[2015-06-07 10:08] diegoceccarelli commented on #6
@piskvorky  you're right, they are not explained, that's bad, we'll fix this issue in the project. Let me resume the meanings:

  * ``wn=[true|false]``  add the wikinames: entities are represented as
integers, if you want also the real name of the entity add ``wn=true``;
  * ``n=[int]`` max number of entities to return;
  * ``format=[txt|json]`` format of the input, dexter can annotate also
semist

[2015-06-07 10:08] #6 closed

[2015-06-07 10:41] piskvorky commented on #6
Thanks @diegoceccarelli !

Also thank you @giacbrd for the `curid` tip -- I actually didn't know :)

[2015-06-09 03:55] ChuyuHsu opened #7 "Build my own model"
There is any possible way to build my own model?

[2015-06-09 04:25] #7 closed

[2015-06-09 04:25] ChuyuHsu commented on #7
It's all in dexter/dexter-core/doc/steps-to-use-dexter.txt

[2015-07-14 09:19] 522730312 opened #8 "A question about Dexter-core"
when i run maven under /Dexter-core , there happen some error,below are output of coomand,

[ERROR] Failed to execute goal on project dexter-common: Could not resolve dependencies for project it.cnr.isti.hpc:dexter-common:jar:0.0.1-SNAPSHOT: Failed to collect dependencies at it.cnr.isti.hpc:hpc-utils:jar:0.0.6: Failed to read artifact descriptor for it.cnr.isti.hpc:hpc-utils:jar:0.0.6: Could not t

[2015-07-14 23:53] diegoceccarelli commented on #8
HI @522730312  are you in China? could it be that dropbox is blocked?
Btw, if the problem is hpc-utils you can check it out here:

git clone http://git.hpc.isti.cnr.it/diego/hpc-utils.git

and then run "mvn install" inside hpc-utils (note that, this is the version 0.0.7, you will have to update the version in dexter-common)

[2015-07-15 08:31] 522730312 commented on #8
Yes,I'm in China,maybe dropbox is blocked.So , could you please send the document in the  URL    https://dl.dropboxusercontent.com/u/4663256/mvn-repository .Chinese can be tokenized,I am working on it ,an i'm sure ,the tool what i use is Stanford-CoreNLP,It's Nice.

[2015-07-15 22:22] diegoceccarelli commented on #8
@522730312  do this steps:
1) git clone http://git.hpc.isti.cnr.it/diego/hpc-utils.git
2) cd hpc-utils
3) open pom.xml and change <version>0.0.7 </version> in <version>0.0.6</version>
4) run: mvn install
5) recompile dexter.

[2015-07-30 07:54] nooralahzadeh commented on #8
HI Diego
I have updated your code in spot generation in order to consider all disambiguation links for spot ( in ExtractSpotsCLI.java)
![extractspotscli](https://cloud.githubusercontent.com/assets/1093791/8978266/d171deb6-36a0-11e5-891a-2532ae08fee8.jpg)

[2015-07-30 07:55] nooralahzadeh opened #9 "Considering the all possible disambiguation links for spotting"
HI Diego
I have updated your code in spot generation in order to consider all disambiguation links for spot ( in ExtractSpotsCLI.java)
![extractspotscli](https://cloud.githubusercontent.com/assets/1093791/8978293/1cb2568a-36a1-11e5-8ff9-6bcac8419ee1.jpg)

[2015-07-30 10:12] diegoceccarelli commented on #9
@nooralahzadeh thanks, could you please send a pull request? I'll take a look.

[2015-07-30 12:30] nooralahzadeh commented on #9
Sorry Diego! In fact I was doing with ExtractSpots2CLI.java , and I found out that this issue fixed in the ExtractSpotsCLI.java.
Just wondering why you didn't delete the ExtractSpots2CLI.java! because the cleaning of the anchore also is different among the both !

[2015-07-30 22:21] diegoceccarelli commented on #9
Hei @nooralahzadeh, I'm sorry for the ExtractSpot2CLI problem. It was an experiment for improving the performance that I didn't finalize. Since the CLIs are used by the bash scripts I did not think to remove the CLI. Feel free to add a comment clarifying that ExtractSpot2CLI is an experiment and deprecating its use. We're currently working on the next release that will remove the problem btw.

[2015-08-13 20:27] tgalery opened #10 "Dexter Model Generation"
Hi there, this is a follow up to a previous PR that I submitted to json-wikipedia which added portuguese locale support. It seems that I sucessfully generated the portuguese json version of wikipedia. As far as I understand, one would use that to generate the dexter models. However, I can't find anywhere in the docs how to do so. Is there a command in dexter that is able to do that ?

[2015-08-13 21:47] diegoceccarelli commented on #10
Hi @tgalery  have a look to this file:
https://github.com/dexter/dexter/blob/master/dexter-core/doc/steps-to-use-dexter.txt

ps. we are currently in the process of rewriting the model-generation and other think in order to make the model generation faster and easies to personalize, if you send me your email address I would be happy to share with you the planning document.

[2015-08-13 22:17] tgalery commented on #10
Cheers @diegoceccarelli, sorry for missing the docs folder. Rokie mistake. my email is my github nickname @gmail.com.

[2015-08-13 23:35] tgalery commented on #10
Just a heads up, after tweaking the config.sh script and running the second script `./scripts/create-label2id-file.sh` I got this:

[code]

[2015-08-14 00:28] tgalery commented on #10
putting an existing path into the default model in `dexter-conf` kind of worked for me. However when I ran `scripts/generate-spots.sh` I got many errors of the form

[code]

It looks like there's an encoding issue for the titles.

[2015-08-14 13:56] diegoceccarelli commented on #10
Yeah you have to change the dexter-conf file with your files. The 'error' that you detect, i think is an error in wikipedia, some that edited the wikitext with a weird encoding, the cli is just telling you that it cannot find an article with that title (look if something similar exists in the dump, it could be also a 'red-link')

[2015-08-14 14:41] tgalery commented on #10
Ahh ok then, I just asked that because you mentioned that there could be some problems with logic that reads the uri from the dump (e.g. if the link were `João_Carlos_Batista`, dexter could find an id for it).

[2015-08-14 19:34] diegoceccarelli commented on #10
Umm, the problem with the logic could be due to the locale, you should check if ''João_Carlos_Batista'' is a correct wikititle (so if in the json dump there's a record with type ARTICLE, and wikiname =  ''João_Carlos_Batista'' ) if yes, it could be a problem to investigate, or it could be that in that case the wiki-id for ''João_Carlos_Batista'' is misspelled and does not match any wikiname in wik

[2015-08-14 19:56] tgalery commented on #10
Cool, I will check that and give a shout here. If I can't find anything wrong in the dump, I will close this issue.

[2015-09-16 04:54] XuChen-Repair opened #11 "Unable to access jarfile dexter.jar"
Hello,

I have encountered a problem that when I execute "java -Xmx3000m -jar dexter.jar" after downloading, there is an error "Error: Unable to access jarfile dexter.jar".

Do you have any suggestion?

[2015-09-17 20:59] diegoceccarelli commented on #11
Hi XuChen-Repair, that's weird!  can you post year the output of:

and

(or md5sum on linux I think)
Thanks!

[2015-09-18 06:30] rschwab68 commented on #11
You get this message if there is no such jar file.
You have to use the jar file downloaded.

java -Xmx3000m -jar dexter-2.1.0.jar

[2015-09-18 06:41] rschwab68 commented on #10
I have build the model for german and I too think there is an issue with encoding and internationalization.
I have found one class,  Spot.java, which is using US-ASCII for en/decoding in two methods, toByteArray and fromByteArray.
When I annotate with Dexter, the annotations contains mentions like fur when text mentions für. German Umlaute disappear in the annotations.

[2015-09-19 12:29] diegoceccarelli commented on #11
@XuChen-Repair Let us know if the problem was solved :)  thanks @rschwab68

[2015-09-19 12:36] diegoceccarelli commented on #10
@rschwab68  Yes, that was a design decision for semplifing things. Text is lossy transformed in ascii, so that für becames fur. It simplified the design and improved the recall, since (at least in Italy) people use to write non-ascii words in their ascii format (or they use the wrong letter e.g., è instead of é). Search engines also use the same strategy usually.

Unfortunately at the moment dexte

[2015-11-15 19:23] TroisLiu opened #13 "A problem about opening localhost:8080 on Chrome"
Hi ,

I have executed successfully the command "java -Xmx3000m -jar dexter-2.1.0.jar " successfully in command-line of Windows 8.1
![dexter-success-deploy](https://cloud.githubusercontent.com/assets/5452974/11170498/483558c8-8c11-11e5-9d1d-762c6604bee9.png)

But I got a problem when I open the localhost:8080 on chrome .
It show that :
![dexter-problem](https://cloud.githubusercontent.com/assets/54

[2015-11-16 14:10] diegoceccarelli commented on #13
hei @TroisLiu  could you please try to visit localhost:8080/dexter-webapp ?

[2015-11-16 16:57] TroisLiu commented on #13
Wow , That work !! Thank you,  @diegoceccarelli

But I still want to ask, is the original problem a normal situation ?

And...in here  I have another problem that :

After I paste the text , I click the "dexterize" button , but the raw context doesn't change to the  annotated sentences which are similar to the presentation on your live-demo page.
![dexter-problem2](https://cloud.githubusercontent.

[2015-12-25 10:29] TroisLiu commented on #10
Hi, now I'm trying to build the wiki model for the wiki dump - "enwiki-20151201-pages-articles.xml.bz2 "

I have two problem what to ask

1. After I run the create-label2id-file.sh, it create a tsy file : "title-redirect-id.tsv" .
    But I find the file size is zero, and its content is empty. Is that a correct or normal situation?

2.  If the first one is correct, When I run the generate-spots.sh

[2015-12-26 08:50] diegoceccarelli commented on #10
Hi @TroisLiu, please check that the data folder here: https://github.com/dexter/dexter/blob/master/dexter-core/scripts/config-example.sh#L23 and the one here: https://github.com/dexter/dexter/blob/master/dexter-core/dexter-conf.xml#L8 have the same path, and then restart from the beginning all the steps. I apologize for all these steps, we are going to solve this problem in dexter 3.0 :grinning:
L

[2015-12-27 15:07] TroisLiu commented on #10
Hi @diegoceccarelli ,

I have already changed these two path at the beginning, but still has the problem. ~"~

[2015-12-27 16:30] diegoceccarelli commented on #10
feel free to contact me on skype, and we can troubleshot the problem
together :) diego.ceccarelli

On Sun, Dec 27, 2015 at 4:07 PM, Troisliu <notifications@github.com> wrote:

[2015-12-28 06:35] TroisLiu commented on #10
Ok, I will contact you.  Thanks your help  : )

I think maybe I should write down the steps what I have done to let you check easily.

Step 1.
1.1 Downloaded the enwiki dump from the wiki dump website:
I download this version "enwiki-20151201-pages-articles.xml.bz2" : https://dumps.wikimedia.org/enwiki/20151201/enwiki-20151201-pages-articles.xml.bz2

1.2 Downloaded the json-wikipedia from @diegoce

[2016-01-28 12:50] brunoalano commented on #10
I have the same issue of @tgalery, giving me:
`2015-08-13 21:23:49,738 51545 [main] INFO  it.cnr.isti.hpc.dexter.cli.spot.ExtractSpotsCLI - cannot find id for label Jo?o_Carlos_Batista`

I've checked the `wikipedia json dump` and the ` label2id file`, and they are correct. The accents are displayed correctly.

[2016-01-29 19:52] diegoceccarelli commented on #10
@brunoalano are you sure that the particular label in the article is not misspelled? since wikinames are manually added by the editors sometimes they copy and paste from other editors using different encodings. could you try to  use the api and search for the wikiname?

[2016-01-30 09:29] rschwab68 opened #14 "Lucene Dependency"
Dexter depends on Lucene Version 4.1.0.
But I am using 5.3.0 in my project and APIs are not compatible.
It is possible to upgrade to Lucene 5.3.0 or higher?

[2016-01-31 10:41] diegoceccarelli commented on #14
Hello @rschwab68,
we are writing a new version of Dexter at the moment, using the latest stable version of lucene (5.4.0), we'll publish it in a few weeks.

[2016-02-01 08:37] rschwab68 commented on #14
Hello @diegoceccarelli ,
ok, fine. Do you also change LuceneHelper? As you know I want to use german language and I need the german Umlaute. LuceneHelper uses the Unicode cleaner to map to US-ASCII encoding. Umlaute get lost.

[2016-03-04 17:31] yashmuni opened #15 "Getting categories for an entity"
Hi,

First of all, Great initiative! Thank you for making my job easier.

I can't seem to find expected answers from "get-*-entities" & "get-*-categories" endpoints. It responds with "NOTITLE" and empty result object for any entityId I provide. (not even on defaults you have provided on swagger)

I have tried both locally and on the endpoint http://dexterdemo.isti.cnr.it:8080/dexter-webapp/dev/#!/

[2016-03-05 20:12] diegoceccarelli commented on #15
I'm sorry @yashmuni but the model that is behind the demo doesn't have the categories. You can generate a new model with the categories by yourself if you need them.

[2016-03-10 21:58] yashmuni commented on #15
@diegoceccarelli Thanks for the quick response. I am sorry, but I have several questions for follow up:
1. I downloaded http://dumps.wikimedia.org/enwiki/20160204/enwiki-20160204-pages-articles.xml.bz2  (As you have mentioned json-wikipedia doesn't support multistream). After downloading it, I converted it in json using your json-wikipedia project. Afterwards I followed the steps mentioned at : ht

[2016-03-15 00:23] diegoceccarelli commented on #15
Please do not use ExtractSpots2CLI (see also https://github.com/dexter/dexter/issues/9 )
It was an experiment, it is not used in the script for a reason.
Different behaviours wrt the binary model distribution could be due to the use of a different dump.

yes they are generated from dbpedia.

Please check the paths in dexter-conf.xml (in dexter-core and dexter-webapp) and in scripts/config.sh.
Run

[2016-03-16 15:43] yashmuni commented on #15
@diegoceccarelli Thanks a lot! I would like to point out that ExtractSpotsCLI is deprecated. So I thought it would be ExtractSpots2CLI, hence I used this. I think it should be other way ( I can create a PR to fix it, if you want). :)

[2016-03-16 23:31] diegoceccarelli commented on #15
Yash Please do the PR :)

On Wed, Mar 16, 2016 at 3:43 PM, Yash Muni <notifications@github.com> wrote:

[2016-03-26 18:49] AlexDhaenens opened #18 "java.net.SocketException: Unexpected end of file from server"
Hello,
When I use the Dexter webservice running on my server and I try to annotate a text with more than est. 900 words the client crashes with following exception: java.net.SocketException: Unexpected end of file from server.
The server closed for one or other reason the connection. When using the swagger API directly the answer is "no body". If I try annotating the same text on your live demo, t

[2016-04-02 20:52] diegoceccarelli commented on #18
Are you using the GET api or the POST api? It could be that the text is too long to be sent through GET.

[2016-04-04 11:54] AlexDhaenens commented on #18
I'm using the POST api. The server really gets the request and starts calculating the result. Howerver when the calculation takes too much time, the client crashesh with this exception. The server howerver still continues to calculate until the calculation is done.

[2016-04-22 19:39] grivescorbett opened #19 "Exception on generate one spot per line step"
I'm trying to build a model from the most recent wikipedia dump, getting an error during generate-one-spot-per-line.sh:

	ubuntu@ip-172-31-5-17:~/dexter/dexter-core$ ./scripts/generate-one-spot-per-line.sh &
	[1] 17148
	ubuntu@ip-172-31-5-17:~/dexter/dexter-core$ merging data/spot/spot-src-target.tsv and data/spot/spots-doc-freq.tsv in data/spot/spots.tsv.gz
	2016-04-22 15:03:53,216 244  [main] IN

[2016-05-06 10:23] rschwab68 opened #20 "Weka dependency"
dextor-core contains

weka-1.0.jar
weka-wrapper-1.0.jar

This version does not match any weka version given on
http://mvnrepository.com/artifact/nz.ac.waikato.cms.weka/weka-stable

Which weka version is used by dexter?

[2016-05-15 17:23] diegoceccarelli commented on #20
Weka was added because the Wikiminer disambiguator needed that library, honestly I don't remember the reason of the version, it could be that I had to patch the library to read the model from the resources (http://stackoverflow.com/questions/19177882/load-a-file-in-resources-with-fileinputstream) , if you want to update to the latest version and submit a PR I'll be happy to accept.
Thanks

[2016-05-15 17:25] diegoceccarelli commented on #18
Can you post the code that you use to query the server and the document that you are trying to annotate? I need to reproduce the issue to see where's the problem. Thanks

[2016-05-15 17:29] diegoceccarelli commented on #19
Can you give me more context? which dump were you processing? are you using a *pages.articles.xml.gz dump? can you check if the *json dump is malformed?

[2016-05-15 22:47] rschwab68 commented on #20
I have examined the weka.jar.
I have found a version.txt file in weka core. It says 3-5-7.
Same like here

https://svn.cms.waikato.ac.nz/svn/weka/tags/dev-3-5-7/weka/core/version.txt

[2016-05-18 08:27] rschwab68 commented on #20
@diegoceccarelli which size you have used to train the weka model?
I have now tested with weka 3.6.6 and 3.6.14.
3.6.14 has been published in april 2016.

http://mvnrepository.com/artifact/nz.ac.waikato.cms.weka/weka-stable

but results are a little bit different with the different weka versions.
still investigating.

[2016-05-18 17:17] diegoceccarelli commented on #20
500 articles maybe?

[2016-05-20 05:56] rschwab68 commented on #20
Weka version 3.6.9 is not compatibel with Weka versions < 3.6.9.
The model does not load with 3.6.9 if it is generated with Weka < 3.6.9.

Another problem appears with Weka versions >= 3.7.
Weka wrapper is broken because of api changes.

If I upgrade to 3.6.6, I dont have to change the model included with wikiminer.
If I upgrade to 3.6.14, the english model included in wikiminer has to be recreate

[2016-05-22 20:24] diegoceccarelli commented on #20
Fix the api changes? :) I'm currently porting tagme and wikiminer into the new version of dexter, I'll upgrade wikiminer to use the latest version of weka in this new version. Sorry about that

[2016-05-23 04:32] rschwab68 commented on #20
@diegoceccarelli this is good news for me. I have thought you would stop working on dexter because according to the home page http://hpc.isti.cnr.it/people/ your status has changed and you are working now for a company.

About wikiminer and tagme: why do you not publish these disambiguators on github?

About weka wrapper: do you plan to provide the source code with the fixed api changes, on github

[2016-06-06 03:03] liute110 commented on #10
hi,when I run scripts\generate-spots.sh. but it show that " can not find for **".I want to genarat data model which support chinese.

[2016-06-07 04:37] liute110 commented on #10
hi ,I want to build data model for chinese. I didn't get right result .I think I have made some mistake.But   I have run every steps  and succed.
![default](https://cloud.githubusercontent.com/assets/19482770/15846106/7f31a2dc-2cac-11e6-850a-70d814c4a8f8.png)

[2016-07-10 11:52] dpdrmj opened #21 "Problem: Not able to use the rest api"
I added the maven dependency to my project (in eclipse) but it could not find dexter-client in the repository. Therefore, i am unable to access the rest api using  DexterRestClient. Can anyone help me with this?
I have  a stream of tweets and need to use entity linking with the tweets.

[2016-07-21 13:08] diegoceccarelli commented on #21
Dear @dpdrmj, I apologize for the delay of my answer. Could you try to import `dexter-client` package in your pom? you first go into the dexter-client and run 'mvn install', and then add to your pom.xml file the snippet:

    </dependency>
                <groupId>it.cnr.isti.hpc</groupId>
		        <artifactId>dexter-client</artifactId>
                <version>2.1.1</version>
    </dependency>

[2016-07-23 16:39] dpdrmj commented on #21
Thanks a lot for replying. I run the 'mvn install' in dexter-client. I've already added the code snippet in the pom.xml file but eclipse is not recognizing it and giving me error. I don't know what is wrong (apparently i'm noob to this maven dependency thing). Do i need to do something else too?

[2016-07-27 10:57] #21 closed

[2016-08-15 01:33] hopeldy opened #22 "How TO USE DEXTER.2.1.0.JAR"
Hi,
When I just import the binary jar Dexter.2.1.0.jar in my project,how can I implement a annotate like the following code.
{
DexterRestClient client = new DexterRestClient("http://localhost:8080/dexter-webapp/api/rest");
AnnotatedDocument ad = client
    .annotate("Dexter is an American television drama series which debuted on Showtime on October 1, 2006. The series   centers on Dexter Morgan (M

[2016-08-16 10:41] davidTamayo opened #23 "How to pack the server"
Hi,
We have extended Dexter to be able to use Spanish Wikipedia. Now, I don’t see how to pack it into a single jar, similar to dexter-2.1.0.jar.

[2016-08-16 13:26] davidTamayo opened #24 "Unexpected error in dexter-core script generate-spots.sh"
The execution of generate-spots.sh entails several errors. Although I’ve not checking I would say there’s an error for each article in Wikipedia, no matter the codification of its title:

2016-08-16 13:19:06,857 20252 [main] INFO  it.cnr.isti.hpc.dexter.cli.spot.ExtractSpotsCLI - cannot find id for label Corriente_de_Groenlandia
2016-08-16 13:19:06,857 20252 [main] INFO  it.cnr.isti.hpc.dexter.cli

[2016-08-16 20:53] diegoceccarelli commented on #22
hello @hopeldy, I would need some more details to help you :) why it doesn't seem to work? does the server work? do you get a response if you visit [http://localhost:8080/dexter-webapp/dev]() ? if you get errors could you paste the logs here?

Thanks

[2016-08-16 20:58] diegoceccarelli commented on #23
once that you have the model, you just point at it with the `dexter-conf.xml` file and reuse the original `dexter-2.1.0.jar`, otherwise you can just go into `dexter-webapp`,  edit the `dexter-conf.xml` there and, from `dexter-webapp` run `scripts/run-server.sh`.

[2016-08-16 21:13] diegoceccarelli commented on #24
`"cannot find id for label"` are infos, and they are not errors, on wikipedia you can have anchors that do not point to any page (Wikipedia highlights them in Red), so it can happen that for a label (i.e., an anchor) Dexter cannot find an id.
I print them just to check if I don't find an Id for a 'good' label (note that sometimes the problem is that who put the link, put the name of the target pag

[2016-08-21 07:11] rschwab68 commented on #24
common words should be filtered out by link probability filter. they occur often in wikipedia but are not linked often.
you are using the standard filter?
your spanish dexter model is online and accessible?

[2016-09-01 09:43] davidTamayo commented on #23
Thanks! It works.

[2016-09-01 09:43] #23 closed

[2016-09-01 09:57] davidTamayo commented on #24
Modifying the lp we have improved the results. (lp =0.4, spanish)

@rschwab68 , at the moment I'm running it on localhost, If I have more issues I will try to put it accessible.

Thanks!

[2016-09-01 09:57] #24 closed

[2016-10-29 19:32] h-shariati opened #25 "problem in Persian language model"
I made a model for the Persian language from Farsi Wikipedia data (https://dumps.wikimedia.org/fawiki/latest/fawiki-latest-pages-articles.xml.bz2). But only recognizes English words. Is model builder has difficulty with  utf (NonEnglish) words?
Does the dexter or json-wikipedia has a problem with languages other than English (like persain)?
my result:

[code]

[2016-11-01 07:00] #25 closed

[2016-11-24 16:48] dtd93 opened #26 "Disambiguation context"
I'm having some problems with the disambiguation feature. Some entities seem not to be disambiguated correctly. For example "apple" is linked as "Apple Inc" even though the text is talking about food.
Ex:
Spread on some mustard to taste and top with half of the shredded cheddar and the sliced **apple**. Add the remaining cheddar on top of the **apple** slices, making sure to get to the edges. Butt

[2016-11-29 05:54] Xiariyouhu opened #27 "How to change the port?"
My port 8080 has been used. How to change the listen port?

[2016-11-30 17:06] AmenRa666 opened #28 "IllegalArgumentException"
I have followed the instruction but when I run the command `java -Xmx4000m -jar dexter-2.1.0.jar` I get this error:

[code]

Does the tool work on MacOS?

Thanks in advance for any help.

[2017-01-05 19:33] meitals opened #29 "Python client?"
Where could I find code / documentation for the Python client?

[2017-01-05 20:23] meitals commented on #29
Never mind. Found this: https://github.com/giacbrd/pydexter

[2017-01-05 20:23] #29 closed

[2017-04-10 20:26] eracle commented on #27
As a workaround you could use:
`sudo iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 8080`

[2017-04-10 20:30] diegoceccarelli commented on #27
you can run dexter adding `-Djetty.port`.
e.g.:
`java -Djetty.port=$yourport -jar dexter.jar `

[2017-04-10 20:30] #27 closed

[2017-04-11 14:54] lx865712528 commented on #10
@TroisLiu I met this problem just now and the problem has gone after I upgrade mapdb in pom.xml to 1.0.8 later...

[2017-04-11 15:00] lx865712528 commented on #10
* Maybe adding the line `mkdir -p $GRAPH_DIR` in `generate-incoming-and-outcoming-edges.sh` is necessary when meeting problem like `no such file`.
* Maybe replacing the line [https://github.com/dexter/dexter/blob/master/dexter-core/scripts/generate-succint-spot-index.sh#L8][1] with `gzcat $SPOT_FILE > $TTMP` is better.

[1]: https://github.com/dexter/dexter/blob/master/dexter-core/scripts/generate

[2017-04-13 18:09] Arminmsg commented on #14
@rschwab68
Hi guys, I'm currently also trying to train it on the german model and I came across the same problem, how did you fix the problem with Umlauten? Do you just map the ü and so on to u and then when you get a response back reverse the mapping?

@diegoceccarelli First of all, thank you for your work, trained my first model kind of successfully.
Are there any new information about the new v

[2017-04-13 18:20] diegoceccarelli commented on #14
@arminmsg and @rschwab68 I've a new version that supports utf8, it has tagme implemented and I've testing it in an English model. But i still have to write the documentation and evaluate the quality. Happy to share the code if you want to play with it.

[2017-04-13 19:21] Arminmsg commented on #14
@diegoceccarelli
Would be great

[2017-04-20 10:49] rschwab68 commented on #14
@diegoceccarelli yes, I would like to play with it. you dont want to upload to github as a new branch?

@Arminmsg I was waiting for the code update by @diegoceccarelli

[2017-04-21 15:13] diegoceccarelli commented on #14
@rschwab68  i shared it with you, it is a private fork of Dexter on my account. There is branch with the new project ( in the folder dexter-core3) it is private because it is still instable and not documented ;) I'll publish it when I'm done :)

[2017-06-03 08:38] rschwab68 commented on #26
Which  disambiguator you have used? Some disambiguators use the concept of relatedness to a context. The disambiguation takes into account whether candidates are related to the context.

[2017-06-03 08:42] rschwab68 commented on #14
@diegoceccarelli thank you for sharing the fork. I am looking forward that it will be published.

[2017-06-30 10:45] aleSuglia opened #31 "Can't read from server. It may not have the appropriate access-control-origin settings."
Hi,

I have downloaded the dexter2.tar.gz from the website reported in the README but when I start the REST service using the command `java -Xmx3000m -jar -Djetty.port=8090 dexter-2.1.0.jar` I receive the following error when I go to `http://localhost:8090/dexter-webapp/dev/`:

     Can't read from server. It may not have the appropriate access-control-origin settings.

Any ideas?

Thank you!

[2017-06-30 11:15] diegoceccarelli commented on #31
Thank @aleSuglia  for opening the issue:
it's a known issue, port is hardcoded into swaggle, you can fix it by manually modifying the port:
here:

[https://github.com/dexter/dexter/blob/master/dexter-webapp/src/main/webapp/dev/index.html#L22]()

and here:

[https://github.com/dexter/dexter/blob/master/dexter-webapp/src/main/webapp/WEB-INF/web.xml#L38]()

and recompiling. Let me know if it solves.

[2017-06-30 11:16] aleSuglia opened #32 "java.lang.NoClassDefFoundError: org/apache/jasper/runtime/JspApplicationContextImpl"
Hi,

I'm trying to compile the dexter source code. These are the steps that I have completed:

1. `git clone https://github.com/dexter/dexter`
2. `git submodule init`
3. `git submodule update`
4. `mvn install -DskipTests`

The `install` command is not able to finish because I get a stacktrace with the following error:

      java.lang.NoClassDefFoundError: org/apache/jasper/runtime/JspApplicationC

[2017-06-30 21:20] diegoceccarelli commented on #32
@aleSuglia  if you want to execute dexter from the code, you don't need a `mvn install`.
You can recompile the webapp following these steps:

  1. `git clone https://github.com/dexter/dexter.git`
  2. `cd dexter/dexter-webapp`

  3. edit `dexter-conf.xml` if you need
  4. if you want to change the server url, fix `dexter-webapp` how I described here, https://github.com/dexter/dexter/issues/31
  5.

[2017-07-31 10:28] jplu opened #33 "Question about the Dexter implementation"
Hello,

I'm using the provided scripts that generates some statistics (mainly to be able to compute the entity commonness score), and there is few things I'm not really understand.

In the file spots.tsv.gz a small sample gives me:

[code]

What I understand is:

* 1st column: a mention
* 2nd column: the targeted entities (separated by a comma if more than one)
* 3rd column: the number of time the

[2017-10-26 17:34] taha-y-merghani opened #34 "Page Not Found when following steps"
Hi,

I followed the following steps

Here is a dump from the terminal
[code]
Then went to the link provided  http://localhost:8080/dexter-webapp/dev, but received a 404 Error Message.

How can I proceed?

[2017-11-20 14:08] danduma commented on #34
I have the same issue!

java 9
Java(TM) SE Runtime Environment (build 9+181)
Java HotSpot(TM) 64-Bit Server VM (build 9+181, mixed mode)

2017-11-16 17:22:15,609 4506 [main] INFO  org.eclipse.jetty.util.log - jetty-7.x.y-SNAPSHOT
2017-11-16 17:22:15,630 4527 [main] INFO  org.eclipse.jetty.util.log - Extract jar:file:/Users/dumadan/nlp/dexter2/dexter-2.1.0.jar!/ to /Users/dumadan/nlp/dexter2/work/w

[2017-11-21 08:40] diegoceccarelli commented on #34
what JVM are you using?

have a look at https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j

in alternative, can you try running dexter follow the steps that I wrote in https://github.com/dexter/dexter/issues/32?

[2017-11-21 16:58] danduma commented on #34
I'm using the official Oracle Java 9 JVM, as I posted above, and on MacOS Sierra:
Java HotSpot(TM) 64-Bit Server VM (build 9+181, mixed mode)

Adding --add-modules java.xml.bind to the command line as the stackoverflow article above recommends worked, so it's clearly a Java 9 thing :)

Apparently the order of parameters matters, so:

java -Xmx3000m --add-modules java.xml.bind -jar dexter-2.1.0.jar

[2017-11-21 17:03] danduma opened #35 "HTTP ERROR 500 accessing http://localhost:8080/dexter-webapp/api/rest"
I was trying to access it from a browser to get a feel for the API as I want to access it from Python, not Java.

I get this:

Problem accessing /dexter-webapp/api/rest. Reason:

    Could not initialize class it.cnr.isti.hpc.dexter.rest.RestService
Caused by:

java.lang.NoClassDefFoundError: Could not initialize class it.cnr.isti.hpc.dexter.rest.RestService
	at java.base/jdk.internal.reflect.Nati

[2017-11-21 17:05] danduma commented on #34
Now loading http://localhost:8080/dexter-webapp/dev/

I see the Swagger interface but it only shows this in the content space:

500 : undefined http://localhost:8080/dexter-webapp/api/api-docs/

I post this here as it seems relevant to the error before.

[2018-02-15 11:34] simeon-petkov-prisma opened #36 "Cannot build Dexter locally using Maven"
**Steps to reproduce:**
 1) Write these commands in a Windows console:
[code]

**Result:**
`[ERROR] Failed to execute goal on project dexter-common: Could not resolve dependencies for project it.cnr.isti.hpc:dexter-common:jar:0.0.1-SNAPSHOT: Failure to find it.cnr.isti.hpc:hpc-utils:jar:0.0.6 in https://dl.dropboxusercontent.com/u/4663256/mvn-repository/ was cached in the local repository, resolut

[2018-02-15 11:47] diegoceccarelli commented on #36
Hey Simeon, could you please modify `pom.xml` in the same way of https://github.com/diegoceccarelli/json-wikipedia/commit/8eacba3bc2d5ffbf2af4fa0196ca1f3d032179ec (update also the version)

That should solve, if you want to submit a PR you are welcome, other I'll fix it asap.

[2018-02-15 12:08] simeon-petkov-prisma commented on #36
Hi Diego, thanks a lot for your reply.

I changed in all pom.xml files
[code]
to
[code]

Now the error that I got is:
`[ERROR] Failed to execute goal on project dexter-common: Could not resolve dependencies for project it.cnr.isti.hpc:dexter-common:jar:0.0.1-SNAPSHOT: Could not find artifact it.cnr.isti.hpc:hpc-utils:jar:0.0.6 in jitpack.io (https://jitpack.io) -> [Help 1]`

[2018-02-15 12:17] simeon-petkov-prisma commented on #36
After I added this dependency

[code]

 to all pom.xml files I get a slightly different message now:

`[ERROR] Failed to execute goal on project dexter-common: Could not resolve dependencies for project it.cnr.isti.hpc:dexter-common:jar:0.0.1-SNAPSHOT: The following artifacts could not be resolved: it.cnr.isti.hpc:hpc-utils:jar:0.0.6, com.github.dexter.dexter:bliki:jar:eeced37: Failure to find it.

[2018-02-15 15:23] diegoceccarelli commented on #36
The dependency that you added is wrong.

Just take the original current pom and replace:

[code]
with
[code]

and then add
[code]

in the `repositories` section.

[2018-02-16 08:39] simeon-petkov-prisma commented on #36
Thanks, now the build process advances much more than before. It actually fails in the test phase because of assertion errors:
[code]

can we call it a successfull build if it has reached the tests phase?

[2018-03-25 21:57] munnellg commented on #36
I've been having similar problems myself. I've added the jitpack repository to all the required pom files and I've updated the groupId where necessary. However the build is failing on the Dexter Webapp due to an inability to obtain dexter-tagme. The error says I am not authorised to access the repository. Any help would be very much appreciated.

`[ERROR] Failed to execute goal on project dexter-w

[2018-04-19 01:21] yoloVoe opened #37 "get-descr no response"
Hello, Dexter seems to be working.
I followed your instructions on getting it running quickly from the README.
I am in the Swagger UI, trying to use `get-descr` to get wiki-ids for named/linked entities.
However, `get-descr` doesn't seem to be working when the parameter `title-one` is set to `false`.
Here are the screen shots (first one when parameter is `false` and output is not as desired; secon

[2018-04-19 01:25] yoloVoe commented on #37
I'm trying to get the named-entity's wiki-id. If there's some way to figure that out without having to call `get-descr`, that would be helpful.

[Just as an FYI, I'm using Dexter is because it tries to link to the entity with the correct sense.]

[2018-04-19 07:37] diegoceccarelli commented on #37
dear @gk159yo, if you use the generated model files `get-desc` will not work anymore because it is using the wikipedia api that is no longer available I think (you could try to fix the client in dexter if you want https://github.com/dexter/dexter/blob/master/dexter-webapp/src/main/java/org/wikipedia/Wiki.java).

You could generate a new model following the steps in https://github.com/dexter/dexter

[2018-04-19 16:01] yoloVoe commented on #37
@diegoceccarelli Thanks for the reponse!

All the entity dumps I found were multistream dumps. https://dumps.wikimedia.org/wikidatawiki/
If I download the multistream dump, would uncompressing it make it `json-wikipedia` processable?

Alternatively, would a JSON entity dump suffice (so I won't run this through `json-wikipedia`)`? https://archive.org/details/wikibase-wikidatawiki-20171209

Also, do

[2018-05-09 08:17] mathematiciseverywhere opened #38 "I cant run, ı get bellow error"
scripts/create-label2id-file.sh
export titles and redirects from the dump (../enwiki-latest-pages-articles.json)
Error: Could not find or load main class it.cnr.isti.hpc.dexter.cli.label.ExportArticlesIdCLI
sort by id
indexing id -> label
Error: Could not find or load main class it.cnr.isti.hpc.dexter.cli.label.IndexIdToLabelCLI
sort by title
adding redirect
Error: Could not find or load main clas

[2018-05-09 09:47] diegoceccarelli commented on #38
Hi, it seems that the script can't find the java classes, can you check that you have the jar in the right place?

[2018-05-09 10:14] mathematiciseverywhere commented on #38
hi, diego. Where can I download the jar file?

[2018-05-09 13:22] mathematiciseverywhere commented on #38
i read #10
He say: Step 2.
                      2.0 Downloaded the dexter-master from this github
                      and generate the jarfile : "dexter-core-2.1.0-jar-with-dependencies.jar"

[2018-05-09 13:50] mathematiciseverywhere commented on #38
I generate "dexter-core-2.1.0-jar-with-dependencies.jar".
I run
java -Xmx8000m -Dlogat=1000 -Dlog=INFO -cp ~/Downloads/dexter-master/dexter-core/scripts/target/dexter-core-2.1.0-jar-with-dependencies.jar it.cnr.isti.hpc.dexter.cli.label.ExportArticlesIdCLI -input $WIKI_JSON_DUMP -output

I get this :
Exception in thread "main" java.lang.Error: Unresolved compilation problems:
	The method getInput(

[2018-05-10 18:02] mathematiciseverywhere opened #39 "I want to get categories of enties."

[2018-05-10 18:06] mathematiciseverywhere commented on #39
hi @diegoceccarelli and @yashmuni. Could you help me.
I want to run         generate-incoming-and-outcoming-category-edges-from-dbpedia.sh
for getting categories of entities. But in bellow line i get error.
echo "generate edges"
$JAVA $CLI.categories.ExtractDbpediaCategoriesCLI --input $TTMP --output $TTTMP

~/dexter-master/dexter-core$ $JAVA $CLI.categories.ExtractDbpediaCategoriesCLI --input $TT

[2018-05-10 18:16] #38 closed, assigned to nobody

[2018-05-11 08:59] diegoceccarelli commented on #39
@mathematiciseverywhere you need the dexter model to do that. you can generate the model following the steps from the beginning or you can try to download it from the website (there is a zip with all the binary files).

[2018-05-11 09:34] mathematiciseverywhere commented on #39
@diegoceccarelli  you mean ı must download ? --->    incoming-entity-category-edges.bin
                                                                           ---->   outcoming-entity-category-edges.bin
I cannot find any link for model bin files. Where can I download the bin files?
@TroisLiu @yashmuni

[2018-05-13 07:03] diegoceccarelli commented on #39
I mean download http://dexter.isti.cnr.it/dexter.tar.gz, get the model directory from there, and then rerun the script to generate the categories.

[2018-05-13 18:10] mathematiciseverywhere commented on #39
@diegoceccarelli I got the same error.

uncompressing
extracting entity categories relationships
en-model-20180201/tmp/tmp1
generate edges
2018-05-13 20:49:09,825 114  [main] INFO  it.cnr.isti.hpc.dexter.util.DexterParams - loading configuration from dexter-conf.xml
2018-05-13 20:49:09,827 116  [main] INFO  it.cnr.isti.hpc.dexter.util.DexterParamsXMLParser - loading configuration from dexter-conf.

[2018-05-13 18:36] mathematiciseverywhere commented on #39
I solved that error. It is so simple , I want to cry.
<?xml version="1.0" encoding="UTF-8"?>
I press the backspace before < sign the it run.
Thank you very much @diegoceccarelli.

Occasionally the XML stream that is returned has a "hidden" character before the first "<".  In this case you will receive the  ParseError at [row,col]:[1,1] Message: Content is not allowed in prolog error message.  In o

[2018-05-14 09:38] mathematiciseverywhere commented on #39
@diegoceccarelli I run generate-incoming-and-outcoming-category-edges-from-dbpedia.sh
and I get incoming-entity-categories.tsv.gz and outcoming-entity-categories.tsv.gz
then I convert files to .bin files
I get incoming-entity-categories.bin and outcoming-entity-categories.bin
you wrote
		<graph>
			<name>entity-category</name>
			<incoming>incoming-entity-category-edges.bin</incoming>
			<outcomin

[2018-05-16 08:04] mathematiciseverywhere commented on #39
I misunderstand. I understand now. I get prepared model from dexter en-model-20140707 file.
I download yours dexter code form https://github.com/dexter/dexter .
1 step: I run generate-incoming-and-outcoming-entity-category-edges-from-dbpedia.sh
2.step: scripts/index-incoming-and-outcoming-edges.sh will index the edges in a binary format
https://github.com/dexter/dexter/blob/master/dexter-core/doc/

[2018-05-18 22:37] taillian opened #40 "Can't build dexter"
Hello! I am trying to build dexter locally and get an error:

`[ERROR] Failed to execute goal on project dexter-webapp: Could not resolve dependencies for project it.cnr.isti.hpc:dexter-webapp:jar:2.1.0: The following artifacts could not be resolved: it.cnr.isti.hpc:dexter-tagme:jar:2.1.0, it.cnr.isti.hpc:dexter-wikiminer:jar:2.0.0: Could not find artifact it.cnr.isti.hpc:dexter-tagme:jar:2.1.0 in

[2018-06-26 19:44] mohammadalijf commented on #10
i am trying to build a english model for 23-Jun-2018. when i ran create-label2id-file.sh script i get following error: i think it's some kind of a overflow problem.

also if you know any link to a updated model for dexter it would be nice

[2018-07-01 12:38] mohammadalijf commented on #40
@tallian hey tallian i was facing the same problem. this is because they used drobbox as thier repository which now is not available. you should update all pom files's repositories. i had forked and fixed the repositories but it's not complete yet. you can clone it and use it for `mvn package`

[2018-07-02 20:34] taillian commented on #40
@mohammadalijf thanks a lot, I will try it!

[2018-09-06 09:27] vwoloszyn commented on #10
Hi guys would be possible to provide a link to an updated model (the current is based on Wikipedia dump of 2014)? It would be extremally useful :)

[2018-09-06 12:30] mohammadalijf commented on #10
@vwoloszyn hi,
i've mannaged to create a wikipedia model for latest dump but it is 60.18 GB which i can not upload anywhere. i would be happy to guide you through the process though.

[2018-09-06 12:43] vwoloszyn commented on #10
Hi Mohammad, many thanks for the answer.
Why do not make it available (compressed) at a Dexter website as an
'optional' download? I guess several dudes are having the same problem :)

Anyway, would be very nice if you could guide me through the process.

Best,
Vinicius

On Thu, Sep 6, 2018 at 9:30 AM Mohammad Ali Jafarian <
notifications@github.com> wrote:

[2018-09-06 13:27] diegoceccarelli commented on #10
Hi, I'm the main developer of Dexter. I'm working on a new version that unfortunately.will not be compatible with the old model. I don't have time to generate new model but I would be happy to host a new model if you can provide it. If you want to try the new Dexter I can provide a fresher model.

Let me know.
Diego

[2018-09-06 13:34] vwoloszyn commented on #10
Great! @mohammadalijf would be possible to you share your model? @diegoceccarelli can host it and make it available for the Dexter community.

[2018-09-09 10:55] mohammadalijf commented on #10
@vwoloszyn @diegoceccarelli
sorry for delay. i've got a real slow connection so i don't know if i can upload the model but i can try if @diegoceccarelli provides me a host for uploading.

[2018-09-10 07:32] vwoloszyn commented on #10
Great! @diegoceccarelli Would be possible for you to provide the host to upload the model?
Best,
Vinicius

[2018-09-10 15:50] diegoceccarelli commented on #10
Hey guys, would you like to organize a Skype call? Would be nice to have a
chat

On Mon, Sep 10, 2018, 08:32 Vinicius Woloszyn <notifications@github.com>
wrote:

[2018-09-10 16:13] vwoloszyn commented on #10
@diegoceccarelli @mohammadalijf  Sure! My skype is vinicius.woloszyn

[2018-09-18 06:24] rahuldeve commented on #10
@vwoloszyn Hi, Ive just finished building a model based on the latest English wikipedia dump. Do let me know if you want it. I can try making it available online.

[2018-09-18 06:32] diegoceccarelli commented on #10
Guys, would you like to have a Skype call? I can in the evening (GMT+1) and
during the weekends. What about this Sunday at around 18.00 GMT+1?

On Tue, Sep 18, 2018, 07:24 Rahul Dev E <notifications@github.com> wrote:

[2018-09-18 06:57] vwoloszyn commented on #10
Thank you @rahuldeve . Are you available to make a skype this Sunday, as @diegoceccarelli suggested?

Best,

[2018-09-18 09:34] rahuldeve commented on #10
@diegoceccarelli @vwoloszyn Unfortunately I wont be available this Sunday. I am kind of packed this month but I am more than happy to discuss here.

[2018-09-18 10:14] diegoceccarelli commented on #10
Alright, Raul are you able to host the data?

Vinicius we might have the call anyway if you like :)

On Tue, Sep 18, 2018, 10:34 Rahul Dev E <notifications@github.com> wrote:

[2018-09-18 11:15] rahuldeve commented on #10
@diegoceccarelli  Yes. Its in Amazon S3 for now. I will try moving it to my Google Drive account first. The trained model folder along with the Lucene indexes comes around 35GB compressed. The one without the indexes is around 3.4GB. Which one should I make available ?

[2018-09-18 11:23] vwoloszyn commented on #10
@diegoceccarelli  Yes, I am free to talk :)

[2018-09-18 11:54] diegoceccarelli commented on #10
Raul, I would make available the 3.5Gb, the other would take ages to
upload/download :) if you want to submit a PR with the address of the repo
in the readme I would merge it.

On Tue, Sep 18, 2018, 12:23 Vinicius Woloszyn <notifications@github.com>
wrote:

[2018-09-22 17:02] rahuldeve commented on #10
@vwoloszyn @diegoceccarelli Sorry for the late reply. I will do that. For now I have uploaded the model in gdrive. Let me know if it works fine from your side too.

https://drive.google.com/open?id=1XwHGoEMwjRLEPQj_D7Mi1osHFoDVHYLD

[2018-09-23 17:05] diegoceccarelli commented on #10
@vwoloszyn <https://github.com/vwoloszyn> I'm online on Skype:
diego.ceccarelli :)

On Sat, Sep 22, 2018 at 6:02 PM Rahul Dev E <notifications@github.com>
wrote:

[2018-11-05 18:37] v1nc3nt27 opened #41 "How to use other knowledge bases"
Hey,

I was wondering about how to use your framework to work with other knowledge bases than Wikipedia. Would  it be sufficient to just replace the spotter by one that finds mentions in e.g. Wikidata, ConceptNet, etc.? Or do I need to to replace other parts as well? Since I'm new to entity linking, I'm not  sure if the disambiguation and ranking step also needs to be replaced with something that

[2018-11-05 19:59] diegoceccarelli commented on #41
@v1nc3nt27 Long story short, this version: no - it is very coupled with wikipedia.

This is still an open problem I guess, and many people are looking into how to do it, but I have not seen solution. for Wikidata and ConceptNet I think you can find sameAs links to wikipedia and just build a connector that converts the Dexter annotation into Wikidata/ConceptNet Uris.

In general is more complicated

[2018-11-06 10:19] v1nc3nt27 commented on #41
@diegoceccarelli I see, thanks for your fast answer. It's really awesome that you do this in your free time :+1:
About your first suggestion with the sameAs-links:
So you suggest I get the Dexter-Annotation for a mention, e.g. entity "solar energy", build the wikipedia link "https://en.wikipedia.org/wiki/solar_energy" and find this in my e.g. triple store of ConceptNet where it is connected to a m

[2019-04-18 05:00] iknoorjobs opened #42 "Demo not working"
I setup the whole system on my machine and started the local server but it didn't give results.

[2019-08-30 01:23] SMinL opened #43 "Dexter download fail"
I click the download link "http://dexter.isti.cnr.it/dexter.tar.gz", but it fails, as the following shows. Dose the tool not open to us anymore?

"File Transfer Blocked
Transfer of the file you were trying to download or upload has been blocked in accordance with company policy. Please contact your system administrator if you believe this is in error.

File name: dexter.tar.gz"

[2019-08-30 01:26] SMinL commented on #39
I can not download from the link that you provide, I wonder that if you can help me.

[2019-08-30 02:34] #43 closed, assigned to nobody

[2019-08-30 10:03] diegoceccarelli commented on #43
http://hpc.isti.cnr.it/~ceccarelli/dexter2.tar.gz

[2019-10-17 18:37] soumyasanyal commented on #43
The above link is not working as well. Is there an alternative link to download dexter?

[2019-10-17 19:05] soumyasanyal opened #44 "Dexter download link not working"
Hi,

The Dexter download link provided in the github README page seems to be down. Is there any alternative link to download the required files?

[2019-10-19 10:14] diegoceccarelli commented on #44
Does this link work?

http://dexter.isti.cnr.it/dexter.tar.gz

[2019-10-19 10:15] soumyasanyal commented on #44
No, it still shows the same error. I've tried on two different networks, same result.

File Transfer Blocked
Transfer of the file you were trying to download or upload has been blocked in accordance with company policy. Please contact your system administrator if you believe this is in error.

[2019-10-19 10:17] diegoceccarelli commented on #44
@soumyasanyal I think it is your internet provider that it is blocking your download (maybe because it's a 2G download? )

[2019-10-19 10:19] soumyasanyal commented on #44
Not the case. I tried with both personal and institute internet, it doesn't work. Is it possible to share the contents over some public domain (like Google drive)?

[2019-10-19 10:21] diegoceccarelli commented on #44
@soumyasanyal can you please try to run:

[code]

from a unix shell and tell me the output?

[2019-10-19 10:24] soumyasanyal commented on #44
I'm getting 503 error.
HTTP request sent, awaiting response... 503 Service Unavailable

[2019-10-19 16:11] #44 closed, assigned to nobody

[2020-01-14 03:27] zwj6 commented on #13
The above answer answers my question, but I have another question, Is there any frequency limit for this API interface @diegoceccarelli

[2020-02-16 12:15] nizam632 commented on #35
cmd prompt :Started SelectChannelConnector@0.0.0.0:8080
browser(google chrome): HTTP ERROR: 404
Problem accessing /. Reason:
help me?

[2021-04-14 08:45] doudouaili opened #45 "Hi, Do support Chinese?"
Hello, I didn't find any information about Chinese corpus in Wikipedia。

[2021-04-14 16:47] diegoceccarelli commented on #45
No, this version can't support Chinese because it assumes ascii encoding of
the mentions. but I might able to help, wanna have a chat?

On Wed, Apr 14, 2021, 09:45 阿狸先生 ***@***.***> wrote:

[2022-06-27 10:31] k-gruenberg commented on #42
Same problem here. Nothing happens when clicking "dexterize!" and when trying out `http://localhost:8080/dexter-webapp/dev/`, it shows an indefinite progress bar - although things do happen in the console in the latter case.

[2022-06-27 17:13] diegoceccarelli commented on #42
did you check the logs? can't really say much from this :) happy to have a chat on zoom one of these days..

[2022-06-28 15:47] k-gruenberg commented on #42
Thanks for replying so quickly!

When I click "dexterize!" on `http://localhost:8080/dexter-webapp/`, nothing happens in the logs.

When I try out `GET /jsonp/annotate` on `http://localhost:8080/dexter-webapp/dev/`, the progress bar keeps progressing and the following happens in the logs:

[code]

Im running it on macOS (v12.2), if that's an issue.

[2022-06-29 01:52] diegoceccarelli commented on #42
it looks good, did you try just the rest api? it has been several years since I publish it - i might have time friday afternoon in eastern daylight time if you need help troubleshooting..

[2022-06-30 17:02] k-gruenberg commented on #42
No thanks, that won't be necessary. I found another entity linking tool to use for my purposes.

[2022-06-30 18:17] diegoceccarelli commented on #42
Ok

[2022-06-30 18:17] #42 closed, assigned to nobody